{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : Tableau de bord{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h1 class="mb-4">
        <i class="bi bi-bar-chart-line-fill"></i>&nbsp;Tableau de bord
    </h1>

    <div class="row g-3">
        <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5>{{ tab_plat|length }} Plat{% if tab_plat|length > 1 %}s{% endif %}</h5>
                </div>
                <div class="card-body">
                    {% for plat_type in tab_plat_type %}
                        <a class="text-decoration-none" href="{{ path('admin_plat_index', {filtre_type:plat_type.id }) }}">
                            <div class="d-flex justify-content-between align-items-center text-black py-2">
                                <span class="fw-semibold">{{ plat_type.libelle }}</span>
                                <span class="badge bg-primary fs-6">
                                        {{ plat_type.nb_plat ?? 0 }}
                                    </span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5>{{ nb_commande }} Commande{% if nb_commande > 1 %}s{% endif %}</h5>
                </div>
                <div class="card-body">
                    {% for commande_etat in tab_commande_etat %}
                        <a class="text-decoration-none" href="{{ path('admin_commande_index', {filtre_etat:commande_etat.id }) }}">
                            <div class="d-flex justify-content-between align-items-center text-black py-2">
                                <span class="fw-semibold">{{ commande_etat.libelle }}</span>
                                <span class="badge bg-primary fs-6">
                                    {{ commande_etat.nb_commande }}
                                </span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5>{{ nb_avis }} Avis clients</h5>
                </div>
                <div class="card-body">
                    {% for avis_libelle, avis_valide in tab_avis_valide %}
                        <a class="text-decoration-none" href="{{ path('admin_avis_index', {filtre_avis:avis_libelle }) }}">
                            <div class="d-flex justify-content-between align-items-center text-black py-2">
                                <span class="fw-semibold">{{ avis_libelle }}</span>
                                <span class="badge bg-primary fs-6">
                                    {{ avis_valide }}
                                </span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mt-3 col-12 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5>Statistiques du chiffre d'affaires</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="stat_ca"></canvas>
                    </div>
                </div>
            </div>

            <div class="mt-3 mt-3 col-12 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5>Statistiques de commandes</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="stat_commande"></canvas>
                    </div>
                </div>
            </div>

            <div class="mt-3 col-12 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5>Statistiques des avis clients</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="stat_avis"></canvas>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


    <script>
        const commandesData = {{ stat_commande|json_encode|raw }};
        const avisData = {{ stat_avis|json_encode|raw }};

        new Chart(document.getElementById('stat_ca'), {
            type: 'bar',
            data: {
                labels: commandesData.map(item => item.menu_libelle),
                datasets: [{
                    label: 'Chiffre d\'afaires',
                    data: commandesData.map(item => item.ca)
                }]
            }
        });

        new Chart(document.getElementById('stat_commande'), {
            type: 'bar',
            data: {
                labels: commandesData.map(item => item.menu_libelle),
                datasets: [{
                    label: 'Nombre de commandes',
                    data: commandesData.map(item => item.total),
                }]
            }
        });

        new Chart(document.getElementById('stat_avis'), {
            type: 'bar',
            data: {
                labels: avisData.map(item => item.menu_libelle),
                datasets: [{
                    label: 'Note moyenne',
                    data: avisData.map(item => item.note_moyenne),
                    maxBarThickness: 50
                }]
            },
            options: {
                scales: {
                    y: {
                        min: 0,
                        max: 5
                    }
                }
            }
        });

    </script>

{% endblock %}
