{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="hero-section mb-3">
        <div class="hero-content">
            <h1>Connexion</h1>
            <p>Plats faits maison – Événementiel – Commande en ligne</p>
            <a href="{{ path('register') }}">
                <button type="button" class="btn btn-primary" title="Créer un compte">Créer un compte</button>
            </a>
        </div>
    </section>

    <div class="container d-flex justify-content-center mt-3 mb-3">
        <div class="row w-100 justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body p-4">

                        {% if error ?? false %}
                            <div class="alert alert-danger text-center">
                                {{ error.message }}
                                <br>
                                <a href="{{ path('register') }}" class="small">Je crée mon compte</a>
                            </div>
                        {% endif %}

                        <form method="post">
                            <!-- Le token CSRF permet de garantir que la requête provient bien du formulaire généré
                                 par l’application et non d’un site tiers -->
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="mb-3">
                                <label for="_username" class="form-label">Email</label>
                                <input type="email" class="form-control" id="_username" name="_username" value="{{ last_username ?? '' }}" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="_password" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="_password" name="_password" required>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Se connecter
                                </button>
                            </div>
                            <div class="text-center mt-3">
                                    <a href="{{ path('reinit_pass', {last_username: last_username})  }}" class="small">Mot de passe oublié ?</a><br>
                                    <a href="{{ path('register', {last_username: last_username}) }}" class="small">Créer un compte ?</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
