{% set user = app.user %}

<nav class="admin-sidebar d-flex flex-column p-3 bg-secondary text-white" id="adminSidebar">
    <h4 class="text-center mb-4"><span class="nav-text">Espace de {{ user.prenom|capitalize }}</span></h4>

    <ul class="nav nav-pills flex-column gap-1">

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
            <li class="nav-item">
                <a href="{{ path('admin_dashboard') }}" class="nav-link {{ app.request.get('_route') == 'admin_dashboard' ? 'active' : 'text-white' }}">
                    <i class="bi bi-bar-chart-line-fill"></i><span class="nav-text" title="Tableau de bord">&emsp;Tableau de bord</span>
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            {% if is_granted('ROLE_ADMIN') %}
                {% set type = 'admin' %}
            {% elseif is_granted('ROLE_EMPLOYE') %}
                {% set type = 'employe' %}
            {% else %}
                {% set type = 'utilisateur' %}
            {% endif %}

            <a href="{{ path('admin_utilisateur_profil') }}" class="nav-link {{ app.request.get('_route') starts with 'admin_utilisateur_profil' ? 'active' : 'text-white' }}">
                <i class="bi bi-person-square"></i><span class="nav-text" title="Mon profil">&emsp;Mon profil</span>
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="{{ path('admin_utilisateur_index', {type: 'employe'}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_utilisateur' and app.request.get('type') == 'employe' ? 'active' : 'text-white' }}">
                    <i class="bi bi-people-fill"></i><span class="nav-text" title="Employés">&emsp;Employés</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_utilisateur_index', {type: 'utilisateur'}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_utilisateur' and app.request.get('type') == 'utilisateur' ? 'active' : 'text-white' }}">
                    <i class="bi bi-people-fill"></i><span class="nav-text" title="Utilisateurs">&emsp;Utilisateurs</span>
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
            <li class="nav-item">
                <a href="{{ path('admin_commande_index') }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_commande' ? 'active' : 'text-white' }}">
                    <i class="bi bi-bag-fill"></i><span class="nav-text" title="Commandes">&emsp;Commandes</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_menu_index') }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_menu' ? 'active' : 'text-white' }}">
                    <i class="bi bi-list"></i><span class="nav-text" title="Menus">&emsp;Menus</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_plat_index', {comeFrom: 'plat'}) }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_plat' ? 'active' : 'text-white' }}">
                    <i class="bi bi-fork-knife"></i><span class="nav-text" title="Plats">&emsp;Plats</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_avis_index') }}" class="nav-link {{ app.request.get('_route') starts with 'admin_avis' ? 'active' : 'text-white' }}">
                    <i class="bi bi-star-fill"></i><span class="nav-text" title="Avis clients">&emsp;Avis clients</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_societe_edit', {id: 1}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_societe' ? 'active' : 'text-white' }}">
                    <i class="bi bi-info-square-fill"></i><span class="nav-text" title="Société">&emsp;Société</span>
                </a>
            </li>

        {% endif %}

        {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_EMPLOYE') %}
            <li class="nav-item">
                <a href="{{ path('admin_commande_historique', {id: 0}) }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_commande_historique' ? 'active' : 'text-white' }}">
                    <i class="bi bi-bag-fill"></i><span class="nav-text" title="Historique">&emsp;Historique</span>
                </a>
            </li>
        {% endif %}

        <hr class="text-secondary">

        <li class="nav-item">
            <a href="{{ path('logout') }}" class="nav-link text-danger">
                <i class="bi bi-door-closed-fill"></i><span class="nav-text" title="Déconnexion">&emsp;Déconnexion</span>
            </a>
        </li>
    </ul>

</nav>
