{% set user = app.user %}

<nav class="d-flex flex-column p-3 bg-secondary text-white min-vh-100" style="width: 250px;">
    <h4 class="text-center mb-4">Espace de {{ user.prenom|capitalize }}</h4>

    <ul class="nav nav-pills flex-column gap-1">

        <li class="nav-item">
            <a href="{{ path('admin_dashboard') }}" class="nav-link {{ app.request.get('_route') == 'admin_dashboard' ? 'active' : 'text-white' }}">
                <i class="bi bi-bar-chart-line-fill"></i>&emsp;Tableau de bord
            </a>
        </li>

        <li class="nav-item">
            {% if is_granted('ROLE_ADMIN') %}
                {% set type = 'admin' %}
            {% elseif is_granted('ROLE_EMPLOYE') %}
                {% set type = 'employe' %}
            {% else %}
                {% set type = 'utilisateur' %}
            {% endif %}

            <a href="{{ path('admin_utilisateur_edit', {id: user.id, type: type, mode: 'modif'}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_profil' ? 'active' : 'text-white' }}">
                <i class="bi bi-person-square"></i>&emsp;Mon profil
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
            <li class="nav-item">
                <a href="{{ path('admin_societe_edit', {id: societe.id}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_societe' ? 'active' : 'text-white' }}">
                    <i class="bi bi-info-square-fill"></i>&emsp;Société
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="{{ path('admin_utilisateur_index', {type: 'employe'}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_utilisateur' and app.request.get('type') == 'employe' ? 'active' : 'text-white' }}">
                    <i class="bi bi-people-fill"></i>&emsp;Employés
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_utilisateur_index', {type: 'utilisateur'}) }}" class="nav-link {{ app.request.get('_route') starts with 'admin_utilisateur' and app.request.get('type') == 'utilisateur' ? 'active' : 'text-white' }}">
                    <i class="bi bi-people-fill"></i>&emsp;Utilisateurs
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a href="{{ path('admin_avis_index') }}" class="nav-link {{ app.request.get('_route') starts with 'admin_avis' ? 'active' : 'text-white' }}">
                <i class="bi bi-star-fill"></i>&emsp;Avis clients
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
            <li class="nav-item">
                <a href="{{ path('admin_menu_index') }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_menu' ? 'active' : 'text-white' }}">
                    <i class="bi bi-fork-knife"></i>&emsp;Menus
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_plat_index', {comeFrom: 'plat'}) }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_plat' ? 'active' : 'text-white' }}">
                    <i class="bi bi-fork-knife"></i>&emsp;Plats
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_commande_index') }}"
                   class="nav-link {{ app.request.get('_route') starts with 'admin_commande' ? 'active' : 'text-white' }}">
                    <i class="bi bi-bag-fill"></i>&emsp;Commandes
                </a>
            </li>
        {% endif %}

        <hr class="text-secondary">

        <li class="nav-item">
            <a href="{{ path('logout') }}" class="nav-link text-danger">
                <i class="bi bi-door-closed-fill"></i>&emsp;Déconnexion
            </a>
        </li>
    </ul>

</nav>
