{% set societe = query_service.getSociete(1) %}

<footer class="footer">
    <div class="container py-4">
        <div class="row">

            <div class="col-md-4 mb-3 text-center">
                <h5 class="footer-title">{{ societe.Libelle }}</h5>
                <p>
                    {{ societe.adresse }}<br>
                    {{ societe.code_postal }} {{ societe.commune }}
                </p>
                <p>
                    <i class="bi bi-telephone-fill"></i>&emsp;<a href="tel:0612345678">{{ societe.telephone|formatTelFr }}</a><br>
                    <i class="bi bi-envelope-at-fill"></i>&emsp;<a href="mailto:contact@viteetgourmand.fr">{{ societe.email }}</a>
                </p>
            </div>

            <div class="col-md-4 mb-3 text-center">
                <h5 class="footer-title">Horaires</h5>

                <ul class="list-unstyled">
                    {% for horaire in query_service.getHoraire(societe.id) %}
                        {% if horaire.ferme %}
                            <li>
                                {{ horaire.jour }} : Fermé
                            </li>
                        {% else %}
                            <li>
                                {{ horaire.jour }} : {{ horaire.ouverture|default(null)|date('H:i') }} - {{ horaire.fermeture|default(null)|date('H:i') }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4 mb-3 text-center">
                <h5 class="footer-title">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Commander</a></li>
                    <li><a href="#">Menus</a></li>
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>

        </div>

        <div class="text-center pt-3 border-top">
            <small>© {{ "now"|date("Y") }} Vite & Gourmand – Tous droits réservés</small>
        </div>
    </div>
</footer>
