<footer class="footer mt-5">
    <div class="container py-4">
        <div class="row">

            <div class="col-md-4 mb-3 text-center">
                <h5 class="footer-title">{{ societe.societe_libelle }}</h5>
                <p>
                    {{ societe.societe_adresse }}<br>
                    {{ societe.societe_code_postal }} {{ societe.societe_commune }}
                </p>
                <p>
                    <i class="bi bi-telephone-fill"></i>&emsp;<a href="tel:0612345678">{{ societe.societe_telephone|formatTelFr }}</a><br>
                    <i class="bi bi-envelope-at-fill"></i>&emsp;<a href="mailto:contact@viteetgourmand.fr">{{ societe.societe_email }}</a>
                </p>
            </div>

            <div class="col-md-4 mb-3 text-center">
                <h5 class="footer-title">Horaires</h5>

                <ul class="list-unstyled">
                    {% for horaire in horaires %}
                        {% if horaire.horaire_ferme %}
                            <li>{{ horaire.horaire_jour }} : Fermé</li>
                        {% else %}
                            <li>{{ horaire.horaire_jour }} : {{ horaire.horaire_ouverture }} - {{ horaire.horaire_fermeture }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4 mb-3 text-center">
                <h5 class="footer-title">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Commander</a></li>
                    <li><a href="#">Menus</a></li>
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>

        </div>

        <div class="text-center pt-3 border-top">
            <small>© {{ "now"|date("Y") }} Vite & Gourmand – Tous droits réservés</small>
        </div>
    </div>
</footer>

