<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <h2>
                <a class="navbar-brand" style="font-size: 24px" href="{{ path('home') }}">
                    {% set societe = query_service.getSociete(1) %}
                    {% if societe %}
                        {{ societe.libelle }}
                    {% else %}
                        {{ "Inconnue" }}
                    {% endif %}
                </a>
            </h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto my-2 mb-lg-0 text-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('menu_index') }}">Menus</a>
                    </li>
                    <li class="nav-item">
                        {% set user = app.user %}
                        {% if user %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYE') %}
                                <a class="nav-link" href="{{ path('admin_tdb_index') }}">Espace de {{ user.prenom|capitalize }}</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('admin_utilisateur_profil') }}">Espace de {{ user.prenom|capitalize }}</a>
                            {% endif %}
                        {% else %}
                            <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_societe_contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
