{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : Tableau de bord{% endblock %}

{% block body %}
    <h1 class="mb-4">
        <i class="bi bi-bar-chart-line-fill"></i>&nbsp;Tableau de bord
    </h1>

    <div class="row g-3">
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5>{{ nb_commande }} Commande{% if nb_commande > 1 %}s{% endif %}</h5>
                </div>
                <div class="card-body">
                    {% for commande_etat in tab_commande_etat %}
                        <a class="text-decoration-none" href="{{ path('admin_commande_index', {filtre_etat:commande_etat.id }) }}">
                            <div class="d-flex justify-content-between align-items-center text-black py-2">
                                <span class="fw-semibold">{{ commande_etat.libelle }}</span>
                                <span class="badge bg-primary fs-6">
                                    {{ commande_etat.nb_commande }}
                                </span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5>{{ nb_avis }} Avis clients</h5>
                </div>
                <div class="card-body">
                    {% for avis_libelle, avis_valide in tab_avis_valide %}
                        <div class="d-flex justify-content-between align-items-center text-black py-2">
                            <span class="fw-semibold">{{ avis_libelle }}</span>
                            <span class="badge bg-primary fs-6">
                                {{ avis_valide }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
