<!DOCTYPE html>
<html lang="fr">
    <head> <meta charset="UTF-8">
        <title>
            {% set user = app.session.get('user') %}
            {% block title %}Espace de {{ user.prenom }}{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="text-center alert alert-{{ label }} flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="layout">
            {% include 'partials/_admin_sidebar.html.twig' %}

            <main class="content p-4 bg-light">
                {% block body %}{% endblock %}
            </main>
        </div>

        {% include 'partials/_footer.html.twig' %}

        <script src="{{ asset('js/alerte.js') }}"></script>
    </body>
</html>

