    {% extends 'base.html.twig' %}

{% block title %}V&G : Nouvelle commande{% endblock %}

{% block body %}
    {% set user = app.user %}

    <section class="hero-section mb-3">
        <div class="hero-content">
            <h1>Nouvelle commande</h1>
            <p>Plats faits maison – Événementiel – Commande en ligne</p>
            {% if user %}
                <a href="{{ path('admin_utilisateur_profil', {comeFrom: 'commande_ajout'}) }}">
                    <button type="button" class="btn btn-primary" title="Modifier mes informations">Modifier mes informations</button>
                </a>
            {% else %}
                <a href="{{ path('login', {redirect: app.request.requestUri}) }}">
                    <button type="button" class="btn btn-primary" title="Se connecter">Se connecter</button>
                </a>
            {% endif %}
        </div>
    </section>

    <div class="row justify-content-center">
        <div class="col-12 col-md-11">

            <form method="post" id="form_commande" action="{{ path('commande_validation', {commande_id: comande_id ?? 0}) }}">
                <input type="hidden" name="utilisateur_id" id="utilisateur_id" value="{{ user.getUserId() }}">

                <div class="card mb-3">
                    <div class="card-header">
                        <h4>CLIENT</h4>
                    </div>
                    <div class="card-body">
                        <div class="row col-12">

                            <div class="col-12 col-lg-4">
                                <label for="utilisateur_nom" class="form-label">Nom</label>
                                <input type="text" class="form-control" name="utilisateur_nom" id="utilisateur_nom" value="{{ utilisateur.nom }}" readonly>
                            </div>

                            <div class="col-12 col-lg-4">
                                <label for="utilisateur_prenom" class="form-label">Prénom</label>
                                <input type="text" class="form-control" name="utilisateur_prenom" id="utilisateur_prenom" value="{{ utilisateur.prenom }}" readonly>
                            </div>

                            <div class="col-12 col-lg-4">
                                <label for="utilisateur_email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" name="utilisateur_email" id="utilisateur_email" value="{{ utilisateur.email }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h4>INFORMATION DE LIVRAISON</h4>
                    </div>
                    <div class="card-body">
                        <div class="row col-12">
                            <div class="col-12 col-lg-2">
                                <label for="commande_date" class="form-label">Date</label>
                                <input type="date" class="form-control" name="commande_date" id="commande_date" value="{{ commande_date ?? '' }}" required>
                            </div>
                            <div class="col-12 col-lg-2">
                                <label for="commande_heure" class="form-label">Heure souhaitée</label>
                                <input type="time" class="form-control" min="" name="commande_heure" id="commande_heure" value="{{ commande_heure ?? '' }}">
                            </div>
                            <div class="col-12 col-lg-2">
                                <label for="utilisateur_telephone" class="form-label">Téléphone</label>
                                <input type="text" class="form-control" name="utilisateur_telephone" id="utilisateur_telephone" value="{{ utilisateur.telephone|formatTelFr }}" readonly>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="info_suppl" class="form-label">Information supplémentaire</label>
                                <input type="text" class="form-control" name="info_suppl" id="info_suppl" value="">
                            </div>
                        </div>

                        <div class="row col-12">
                            <div class="col-12 col-lg-6">
                                <label for="utilisateur_adresse" class="form-label">Adresse</label>
                                <input type="text" class="form-control" name="utilisateur_adresse" id="utilisateur_adresse" value="{{ utilisateur.adresse }}" readonly>
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="utilisateur_commune" class="form-label">Commune</label>
                                <input type="text" class="form-control" name="utilisateur_commune" id="utilisateur_commune" value="{{ utilisateur.commune }}" readonly>
                            </div>
                            <div class="col-12 col-lg-2">
                                <label for="utilisateur_code_postal" class="form-label">Code postal</label>
                                <input type="text" class="form-control" name="utilisateur_code_postal" id="utilisateur_code_postal" value="{{ utilisateur.code_postal }}" readonly>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h4>COMMANDE</h4>
                    </div>
                    {% if menu %}
                        {% set total_menu = (menu.tarif_unitaire * quantite) %}
                    {% else %}
                        {% set total_menu = 0 %}
                    {% endif %}


                    <div class="card-body">
                        <p class="text-center text-danger d-none" id="p_pers_remise">Une remise de 10% sera appliquée pour une commande à partir de <span id="nb_pers_remise">0</span> personnes</p>
                        <div class="row col-12">
                            <div class="col-12 col-lg-4">
                                <label for="menu_id" class="form-label">Menu</label>
                                <select class="form-select" name="menu_id" id="menu_id" onchange="loadMenu(this.value)">
                                    <option value="">Choix</option>
                                    {% for item in tabMenu %}
                                        {% if item.quantite_min > item.quantite_disponible %}
                                            {% set param = 'Rupture de stock' %}
                                        {% else %}
                                            {% set param = item.tarif_unitaire|number_format(2, '.', ' ') ~ '€ par personne - Min. ' ~ item.quantite_min %}
                                        {% endif %}

                                        <option value="{{ item.id }}" {% if (item.id == (menu.id ?? 0)) %}selected{% endif %}>
                                            {{ item.libelle ~ ' - ' ~ param }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-1">
                                <label for="quantite" class="form-label">Quantité</label>
                                <input type="number" class="form-control" step="1" min="{{ menu.quantite_min ?? 0 }}" max="{{ menu.quantite_disponible ?? 1 }}" name="quantite" id="quantite" value="{{ quantite ?? 0 }}" onchange="setRemise()">
                                <input type="hidden" class="form-control" step="0.01" min="1" name="tarif_unitaire" id="tarif_unitaire" value="{{ menu.tarif_unitaire ?? 0 }}">
                            </div>
                            <div class="col-12 col-lg-2">
                                <label for="total_menu" class="form-label">Total menu</label>
                                <input type="number" class="form-control" step="0.01" min="0" name="total_menu" id="total_menu" value="{{ menu.tarif_unitaire ?? 0 * quantite }}" readonly>
                            </div>
                            <div class="col-12 col-lg-1">
                                <label for="remise" class="form-label">Remise (%)</label>
                                <input type="number" class="form-control" step="0.001" min="0" max="100" name="remise" id="remise" value="{{ remise ?? 0 }}" readonly>
                            </div>
                            <div class="col-12 col-lg-2">
                                <label for="total_livraison" class="form-label">Livraison {% if distance_km ?? 0 > 0 %}({{ distance_km }} km){% endif %}</label>
                                <input type="number" class="form-control" step="0.001" min="0" name="total_livraison" id="total_livraison" value="{{ total_livraison ?? 0 }}" readonly>
                            </div>
                            <div class="col-12 col-lg-2">
                                <label for="total_ttc" class="form-label">Total TTC</label>
                                <input type="number" class="form-control" step="0.001" min="0" name="total_ttc" id="total_ttc" value="{{ total_menu - (total_menu * (remise ?? 0) / 100) + total_livraison }}" readonly>
                            </div>
                        </div>
                        <div class="row col-12 mt-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" rows="3" name="description" id="description" readonly>{{ menu.description ?? '' }}</textarea>
                        </div>
                        <div class="row col-12 mt-3">
                            <label for="conditions" class="form-label text-danger text-center fw-bold fs-4">*** Conditions ***</label>
                            <textarea class="form-control text-danger text-center fw-bold" rows="3" name="conditions" id="conditions" readonly>{{ menu.conditions ?? '' }}</textarea>
                        </div>

                        <div class="card mt-3" id="composition_menu">
                            {% include 'commande/_composition_menu.html.twig' with { plats_menu: plats_menu } %}
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <a href="{{ path('admin_commande_index') }}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-square"></i>&nbsp;Retour
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-floppy-fill"></i>&nbsp;Valider la commande
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        loadMenu({{ menu.id ?? 0 }});

        function loadMenu(menu_id) {
            fetch('/commande/loadMenu/' + menu_id, {
                headers: {'X-Requested-With': 'XMLHttpRequest', 'Accept': 'application/json'}
            })
                .then(response => response.json())
                .then(data => {
                    if (data.erreur) {
                        alert("Erreur : " + data.erreur);
                        return
                    }

                    const quantite_remise = data.quantite_min + 5;
                    if (quantite_remise <= data.quantite_disponible) {
                        document.getElementById('nb_pers_remise').innerHTML = data.quantite_min + 5;
                        document.getElementById('p_pers_remise').classList.remove('d-none');
                    } else {
                        document.getElementById('p_pers_remise').classList.add('d-none');
                    }

                    document.getElementById('quantite').setAttribute('min', data.quantite_min);
                    document.getElementById('quantite').setAttribute('max', data.quantite_disponible);

                    if (document.getElementById('quantite').value > data.quantite_disponible) {
                        document.getElementById('quantite').value = data.quantite_disponible;
                    }

                    document.getElementById('tarif_unitaire').value = data.tarif_unitaire;
                    document.getElementById('conditions').innerHTML = data.conditions;
                    document.getElementById('composition_menu').innerHTML = data.composition_menu;

                    setRemise();
                });
        }

        function setRemise()
        {
            let input_quantite = document.getElementById('quantite');
            let input_total_menu = document.getElementById('total_menu');
            let input_remise = document.getElementById('remise');
            let input_total_livraison = document.getElementById('total_livraison');
            let input_total_ttc = document.getElementById('total_ttc');

            if (parseInt(input_quantite.getAttribute('max')) === 0)
            {
                input_quantite.setAttribute('readonly', true);
            }
            else
            {
                if (input_quantite.attributes.getNamedItem('readonly'))
                {
                    input_quantite.attributes.removeNamedItem('readonly');
                }
            }

            let quantite_remise = parseInt(input_quantite.getAttribute('min')) + 5;
            let tarif_unitaire = document.getElementById('tarif_unitaire').value;
            let total_menu = tarif_unitaire * input_quantite.value;

            if (input_quantite.value >= quantite_remise)
            {
                input_remise.value = 10;
            }
            else
            {
                input_remise.value = 0;
            }

            input_total_menu.value = total_menu;
            input_total_ttc.value = total_menu - ((total_menu * input_remise.value) / 100) + parseFloat(input_total_livraison.value);
        }

    </script>
{% endblock %}

