{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : liste des commandes{% endblock %}

{% block body %}
    <h1 class="mb-4">
        <i class="bi bi-people-fill"></i>Commandes
    </h1>

    <a href="{{ path('admin_commande_edit', {id: 0}) }}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i>&nbsp;Ajouter une commande
    </a>

    <table class="table table-striped align-middle">
        <thead>
        <tr>
            <th>Statut</th>
            <th>Numéro</th>
            <th>Client</th>
            <th>Menu</th>
            <th>Adresse</th>
            <th>Date commande</th>
            <th>Date livraison</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if tabCommande|length > 0 %}
            {% for item in tabCommande %}
                <tr>
                    <td style="background-color: {{ item.commande_etat.couleur ?? '' }}">{{ item.commande_etat.libelle }}</td>
                    <td>{{ item.commande.numero }}</td>
                    <td>{{ item.utilisateur.nom ~ ' ' ~ item.utilisateur.prenom}}</td>
                    <td>{{ item.menu.libelle }}</td>
                    <td>{{ item.utilisateur.adresse ~ ' - ' ~ item.utilisateur.commune ~ ' - ' ~ item.utilisateur.code_postal}}</td>
                    <td>{{ item.commande.created_at|date('d/m/Y à H:i') }}</td>
                    <td>{{ item.commande.date|date('d/m/Y à H:i') }}</td>
                    <td>
                        <a href="{{ path('admin_commande_edit', {id: item.commande.id}) }}" class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="{{ path('admin_commande_delete', {id: item.commande.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Supprimer ?')">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">
                    <div class="alert alert-warning text-center">Aucun résultat</div>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
