{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : Commande{% endblock %}

{% block body %}

    {% set user = app.getUser() %}

    <h1>Commande N°{{ commande.numero }}</h1>

    <div class="card mb-3">
        <div class="card-header">
            <h4>Informations générales</h4>
        </div>
        <div class="card-body">
            <div class="row col-12">
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Menu</label>
                    <p>{{ menu.libelle }}</p>
                </div>

                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">État</label>
                    <p style="background-color: {{ tabCommande_etat[commande.commande_etat_id].couleur }}">{{ tabCommande_etat[commande.commande_etat_id].libelle }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Date de commande</label>
                    <p>{{ commande.created_at|date('d/m/Y') }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Date de livraison</label>
                    <p>{{ commande.date|date('d/m/Y') }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Adresse de livraison</label>
                    <p>
                        {{ commande.adresse_livraison ?? user.adresse }}
                        <br>
                        {{ commande.cp_livraison ?? user.code_postal ~ ' - ' ~ commande.commune_livraison ?? user.commune }}
                    </p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Prêt matériel</label>
                    <p>{% if commande.pret_materiel %}<span class="text-danger fw-bold">Oui</span>{% else %}Non{% endif %}</p>
                </div>
            </div>

            <div class="row col-12">
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Prix unitaire</label>
                    <p>{{ menu.tarif_unitaire|number_format(2, '.', ' ') }} €</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Quantité</label>
                    <p>{{ commande.quantite }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Total TTC</label>
                    <p>{{ commande.total_ttc }} €</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Remise</label>
                    <p>{{ commande.remise }} %</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">
                        Frais de livraison&nbsp;
                        {% if distance_km > 0 %}
                            <br><span class="small fw-normal">({{ distance_km }} km)</span>
                        {% endif %}
                    </label>
                    <p>{{ commande.total_livraison }} €</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Total TTC</label>
                    <p class="fw-bold">{{ commande.total_ttc + commande.total_livraison }} €</p>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_USER') %}
        {% set retour = path('admin_commande_historique', {id: app.user.id}) %}
    {% else %}
        {% set retour = path('admin_commande_index') %}
    {% endif %}

    <div class="d-flex justify-content-between">
        <a href="{{ retour }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-square"></i>&nbsp;Retour
        </a>
    </div>

    <script src="{{ asset('js/image.js') }}"></script>
{% endblock %}

