{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : Commande{% endblock %}

{% block body %}

    {% set user = app.getUser() %}

    <h1>Commande N°{{ commande.numero }}</h1>

    <div class="card mb-3">
        <div class="card-header">
            <h4>Informations générales</h4>
        </div>
        <div class="card-body">
            <div class="row col-12">
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Menu</label>
                    <p>{{ menu.libelle }}</p>
                </div>

                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">État</label>
                    <p style="background-color: {{ tabCommande_etat[commande.commande_etat_id].couleur }}">{{ tabCommande_etat[commande.commande_etat_id].libelle }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Date de commande</label>
                    <p>{{ commande.created_at|date('d/m/Y') }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Date de livraison</label>
                    <p>{{ commande.date|date('d/m/Y') }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Adresse de livraison</label>
                    <p>
                        {{ commande.adresse_livraison ?? user.adresse }}
                        <br>
                        {{ commande.cp_livraison ?? user.code_postal ~ ' - ' ~ commande.commune_livraison ?? user.commune }}
                    </p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Prêt matériel</label>
                    <p>{% if commande.pret_materiel %}<span class="text-danger fw-bold">Oui</span>{% else %}Non{% endif %}</p>
                </div>
            </div>

            <div class="row col-12">
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Prix unitaire</label>
                    <p>{{ menu.tarif_unitaire|number_format(2, '.', ' ') }} €</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Quantité</label>
                    <p>{{ commande.quantite }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Total TTC</label>
                    <p>{{ commande.total_ttc }} €</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Remise</label>
                    <p>{{ commande.remise }} %</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">
                        Frais de livraison&nbsp;
                        {% if distance_km > 0 %}
                            <br><span class="small fw-normal">({{ distance_km }} km)</span>
                        {% endif %}
                    </label>
                    <p>{{ commande.total_livraison }} €</p>
                </div>
                <div class="mb-3 col-12 col-lg-2">
                    <label class="form-label">Total TTC</label>
                    <p class="fw-bold">{{ commande.total_ttc + commande.total_livraison }} €</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h4>Avis
                {% if tab_avis|length == 0 %}
                    <a href="{{ path('admin_avis_edit', {id: 0, utilisateur_id: user.getId(), commande_id: commande.id}) }}" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>&nbsp;Ajouter un avis
                    </a>
                {% endif %}
            </h4>
        </div>
        <div class="card-body">
            <div class="row g-3">
                {% if tab_avis|length > 0 %}
                    {% for avis in tab_avis %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center pb-3">
                                        <span>
                                            {%  for utilisateur in tab_utilisateur %}
                                                {%  if utilisateur.id == avis.utilisateur_id %}
                                                    <strong>{{ utilisateur.getPrenom() ~' '~ utilisateur.getNom()|first|upper ~ '.' }}</strong>
                                                {% endif %}
                                            {% endfor %}
                                        <span class="small">&nbsp;le {{ avis.created_at|date('d/m/Y')}}</span>
                                        </span>
                                                <span class="text-primary">
                                            {% for i in 1..avis.note %}
                                                ★
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <p class="fst-italic">
                                        "{{ avis.commentaire }}"
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <table class="w-100 text-center">
                        <tbody>
                        <tr>
                            <td class="border p-3">
                                <span class="alert alert-warning text-center">Aucun résultat</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_USER') %}
        {% set retour = path('admin_commande_historique', {id: app.user.id}) %}
    {% else %}
        {% set retour = path('admin_commande_index') %}
    {% endif %}

    <div class="d-flex justify-content-between">
        <a href="{{ retour }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-square"></i>&nbsp;Retour
        </a>
    </div>

    <script src="{{ asset('js/image.js') }}"></script>
{% endblock %}

