<h4 class="text-center">{{ menus|length }} {% if menus|length > 1 %} menus proposés {% else %} menu proposé {% endif %}</h4>
{% if menus|length > 0 %}
    <div class="row cols-12 cols-sm-6 cols-md-4 cols-lg-3 g-4">
        {% for menu in menus %}
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="text-center pb-3">{{ menu.libelle }}</h5>

                        {% if menu.images|length > 0 %}
                            <img src="{{ asset(menu.images[0].image) }}" class="card-img-top" style="object-fit: cover" alt="{{ menu.libelle }}">
                        {% else %}
                            <img src="{{ asset('images/no_image.jpg') }}" class="card-img-top" alt="Image par défaut">
                        {% endif %}

                        <p class="mb-1">
                            {% for theme in menu.themes %}
                                <span class="badge bg-primary">{{ theme }}</span>
                            {% endfor %}
                            {% for regime in menu.regimes %}
                                <span class="badge bg-success">{{ regime }}</span>
                            {% endfor %}
                        </p>

                        <p class="card-text flex-grow-1">{{ menu.description }}</p>

                        <div class="mt-auto">
                            <p class="mb-1"><b>Min. {{ menu.quantite_min }} pers.</b></p>
                            <p class="mb-3">Stock : {{ menu.quantite_disponible }}</p>
                            <h4 class="text-end mb-3">{{ menu.tarif_unitaire|number_format(2, '.', ' ') }} €/pers.</h4>

                            <form method="get" action="{{ path('commande_ajout') }}">
                                <input type="hidden" name="menu_id" id="menu_id" value="{{ menu.id }}">
                                <input type="hidden" name="utilisateur_id" id="utilisateur_id" value="{{ app.user.id ?? 0 }}">

                                <table class="w-100 text-center">
                                    <tr>
                                        <td class="w-auto text-end pe-1">
                                            <a href="{{ path('menu_edit', {id: menu.id}) }}" class="btn btn-outline-primary mt-auto">
                                                Voir le détail
                                            </a>
                                        </td>
                                        <td style="width: 80px">
                                            <input type="number" name="quantite" min="{{ menu.quantite_min }}" max="{{ menu.quantite_disponible }}" value="{{ menu.quantite_min }}" class="form-control">
                                        </td>
                                        <td style="width: 50px">
                                            <button type="submit" class="btn btn-primary" title="Commander" {% if menu.quantite_disponible == 0 or menu.quantite_disponible < menu.quantite_min %}disabled{% endif %}>
                                                <i class="bi bi-cart"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        Aucun menu trouvé
    </div>
{% endif %}
