{% extends 'base.html.twig' %}

{% block body %}
    <div class="card m-3">
        <div class="card-header">
            <h1>{{ menu.libelle }}</h1>
        </div>

        <div class="card-body">
            <h2 class="mt-1">Composition du menu</h2>

            {% for type, plats in plats_par_type %}
                <h3 class="mt-4">{{ type }}</h3>

                <div class="row">
                    {% for plat in plats %}
                        <div class="col-md-6 mb-3">
                            <div class="card h-100">
                                <div class="row g-0">
                                    <div class="col-4">
                                        <img src="{{ asset(plat.image) }}"
                                             class="img-fluid rounded-start"
                                             alt="{{ plat.libelle }}">
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ plat.libelle }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="card-footer">
            TEST footer
        </div>
    </div>
{% endblock %}
