{% extends 'base.html.twig' %}

{% block body %}
    {% set user = app.user %}

    <section class="hero-section mb-3">
        <div class="hero-content card-header">
            <h1>Nos menus</h1>
            <p>Plats faits maison – Événementiel – Commande en ligne</p>
            {% if user %}
                <a href="{{ path('admin_societe_contact') }}">
                    <button type="button" class="btn btn-primary" title="Contactez-nous">Contactez-nous</button>
                </a>
            {% else %}
                <a href="{{ path('login', {redirect: app.request.requestUri}) }}">
                    <button type="button" class="btn btn-primary" title="Se connecter">Se connecter</button>
                </a>
            {% endif %}
        </div>
    </section>

    <div class="row justify-content-center">
        <div class="col-12 col-md-11">

            <!-- FILTRES DE RECHERCHE -->
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Filtres de recherche</h4>
                </div>
                <div class="card-body">

                    <form method="get" action="{{ path('menu_filter_ajax') }}" class="row g-2" id="form_filtre_menu">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                            <input type="text" name="term" class="form-control" placeholder="Rechercher un menu" value="{{ (filters.term) ?? '' }}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                            <select name="theme" class="form-select">
                                <option value="">Tout les thèmes</option>
                                {% for theme in themes %}
                                    <option value="{{ theme.id }}"
                                        {{ filters.theme == theme.id ? 'selected' }}>
                                        {{ theme.libelle }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                            <select name="regime" class="form-select">
                                <option value="">Tout les régimes</option>
                                {% for regime in regimes %}
                                    <option value="{{ regime.id }}"
                                        {{ filters.regime == regime.id ? 'selected' }}>
                                        {{ regime.libelle }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-1">
                            <input type="number" name="tarif_min" class="form-control" placeholder="Prix min" value="{{ filters.tarif_min }}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-1">
                            <input type="number" name="tarif_max" class="form-control" placeholder="Prix max" value="{{ filters.tarif_max }}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-1">
                            <input type="number" name="pers_min" class="form-control" placeholder="Pers. min" value="{{ filters.pers_min }}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-1 d-flex justify-content-end align-items-center">
                            <input type="checkbox" class="form-check-input me-2" name="disponible" id="disponible" {{ filters.disponible ? 'checked' }}>
                            <label for="disponible" class="form-check-label"> Disponible </label>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-1 text-end">
                            <div class="">
                                <button type="submit" class="btn btn-warning btn-sm px-3" title="Rechercher">
                                    <i class="bi bi-search"></i>
                                </button>
                                <button type="button" id="reset-filters" class="btn btn-danger btn-sm px-3" title="Supprimer les filtres">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- LISTE DES MENUS -->
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Liste des menus</h4>
                </div>
                <div class="card-body">
                    <div class="row g-3" id="menus-list">
                        {% include 'menu/_list.html.twig' with { menus: menus } %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
