{% extends 'admin/layout.html.twig' %}

{% if type == 'employe' %}
    {% set lib = 'employé' %}
    {% set role = 'ROLE_EMPLOYE' %}
{% else %}
    {% set lib = 'utilisateur' %}
    {% set role = 'ROLE_USER' %}
{% endif %}

{% block title %}V&G : {{ lib|capitalize }}s{% endblock %}

{% block body %}
    <script src="{{ asset('js/user.js') }}"></script>

    {% if mode == 'ajout' %}
        {% set titre = 'Ajouter un ' ~ lib %}
        {% set action_path = path('admin_utilisateur_edit', {id: 0, mode: mode, type: type}) %}
    {% else %}
        {% set titre = 'Modifier un ' ~ lib %}
        {% set action_path = path('admin_utilisateur_edit', {id: utilisateur.getUserId(), mode: mode, type: type}) %}
    {% endif %}

    <h1>{{ titre }}</h1>

    <form method="post" action="{{ action_path }}">
        <input type="hidden" id="id" name="id" value="{{ utilisateur.id ?? 0 }}">
        <input type="hidden" id="role" name="role" value="{{ role }}">

        <div class="card mb-3">
            <div class="card-header">
                <h4>Informations de connexion</h4>
            </div>
            <div class="card-body">
                <div class="row col-12">
                    <div class="mb-3 col-12 col-lg-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{ utilisateur.email ?? '' }}" required>
                    </div>

                    {% if not utilisateur %}
                        {% set input_type = 'text' %}
                        {% set disabled = ' disabled' %}
                        {% set placeholder = 'Défini automatiquement' %}
                    {% else %}
                        {% set input_type = 'password' %}
                        {% set disabled = '' %}
                        {% set placeholder = 'Renseigner pour modifier' %}
                    {% endif %}

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="{{ input_type }}" class="form-control" name="password" id="password" value="" {{ disabled }} placeholder="{{ placeholder }}">
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="confirm" class="form-label">Confirmer le mot de passe</label>
                        <input type="{{ input_type }}" class="form-control" name="confirm" id="confirm" value="" {{ disabled }} placeholder="{{ placeholder }}">
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="actif_1" class="form-label">Actif</label>
                        <div>
                            <span>Oui :&nbsp;</span>
                            <input type="radio" name="actif" id="actif_1" value="1" {% if (utilisateur.actif ?? 1 == 1) %} {{ 'checked' }} {% endif %}>
                            <span>Non :&nbsp;</span>
                            <input type="radio" name="actif" id="actif_0" value="0" {% if not (utilisateur.actif ?? 1) %} {{ 'checked' }} {% endif %}>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h4>Informations générales</h4>
            </div>
            <div class="card-body">
                <div class="row col-12">
                    <div class="mb-3 col-12 col-lg-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom"
                               value="{{ utilisateur.nom ?? '' }}"
                               {% if not utilisateur %}onkeyup="setPassAuto()" {% endif %}
                               required>
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="prenom" class="form-label">Prénom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom"
                               value="{{ utilisateur.prenom ?? '' }}"
                               {% if not utilisateur %}onkeyup="setPassAuto()" {% endif %}
                               required>
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="telephone" class="form-label">Téléphone</label>
                        <input type="tel" class="form-control" name="telephone" id="telephone" value="{{ utilisateur.telephone ?? '' }}" required>
                    </div>
                    <div class="mb-3 col-12 col-lg-3">
                        <label for="poste" class="form-label">Poste</label>
                        <input type="text" class="form-control" name="poste" id="poste" value="{{ utilisateur.poste ?? '' }}">
                    </div>
                </div>
                <div class="row col-12">
                    <div class="mb-3 col-12 col-lg-3">
                        <label for="adresse" class="form-label">
                            Adresse
                            {% if utilisateur.latitude ?? null and utilisateur.longitude %}
                                <span class='text-success' style="font-size: smaller">&nbsp;(Géolocalisée)</span>
                            {% endif %}
                        </label>
                        <input type="text" class="form-control" name="adresse" id="adresse" value="{{ utilisateur.adresse ?? '' }}" required>
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="code_postal" class="form-label">Code postal</label>
                        <input type="text" class="form-control" name="code_postal" id="code_postal" value="{{ utilisateur.code_postal ?? '' }}" required>
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="commune" class="form-label">Commune</label>
                        <input type="text" class="form-control" name="commune" id="commune" value="{{ utilisateur.commune ?? '' }}" required>
                    </div>

                    <div class="mb-3 col-12 col-lg-3">
                        <label for="pays" class="form-label">Pays</label>
                        <input type="text" class="form-control" name="pays" id="pays" value="{{ utilisateur.pays ?? 'France' }}" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <a href="{{ path('admin_utilisateur_index', {type: type}) }}" class="btn btn-secondary" title="Retour">
                <i class="bi bi-arrow-left-square"></i>&nbsp;Retour
            </a>
            {% if mode == 'modif' %}
                <a href="{{ path('admin_utilisateur_delete', {id: utilisateur.id}) }}" class="btn btn-danger" title="Supprimer">
                    <i class="bi bi-trash"></i>&nbsp;Supprimer
                </a>
            {% endif %}
            <button type="submit" class="btn btn-success" title="Enregistrer">
                <i class="bi bi-floppy-fill"></i>&nbsp;Enregistrer
            </button>
        </div>
    </form>
{% endblock %}

