{% extends 'admin/layout.html.twig' %}

{% if type == 'employe' %}
    {% set lib = 'employé' %}
    {% set role = '[ROLE_EMPLOYE]' %}
{% else %}
    {% set lib = 'utilisateur' %}
    {% set role = '[ROLE_USER]' %}
{% endif %}

{% block title %}V&G : {{ lib|capitalize }}s{% endblock %}

{% block body %}

    <h1 class="mb-4">
        <i class="bi bi-people-fill"></i>&nbsp;Liste des {{ lib|capitalize }}s : <span class="fs-3">{{ tabUtilisateur|length }} résultat(s)</span>
    </h1>

    <a href="{{ path('admin_utilisateur_edit', {id: 0, mode: 'ajout', type: type}) }}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i>&nbsp;Ajouter un {{ lib }}
    </a>

    <div class="table-responsive">
        <table class="table table-striped" style="overflow-x: auto; overflow-y: visible; max-width: 100%; -webkit-overflow-scrolling: touch;">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Commune</th>
                <th>Pays</th>
                <th>Poste</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if tabUtilisateur|length > 0 %}
                {% for utilisateur in tabUtilisateur %}
                    <tr>
                        <td>{{ utilisateur.nom }}</td>
                        <td>{{ utilisateur.prenom }}</td>
                        <td>{{ utilisateur.email }}</td>
                        <td>{{ utilisateur.telephone }}</td>
                        <td>{{ utilisateur.adresse }}</td>
                        <td>{{ utilisateur.code_postal }}</td>
                        <td>{{ utilisateur.commune }}</td>
                        <td>{{ utilisateur.pays }}</td>
                        <td>{{ utilisateur.poste }}</td>
                        <td>{{ (utilisateur.actif) ? 'Oui':'Non' }}</td>
                        <td>
                            <a href="{{ path('admin_utilisateur_edit', {id: utilisateur.getUserId(), mode: 'modif', type: type}) }}" class="btn btn-sm btn-warning">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="{{ path('admin_utilisateur_delete', {id: utilisateur.getUserId(), type: type}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l\'utilisateur ?')">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11" class="alert alert-warning text-center">Aucun résultat</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
