{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : Édition d'un menu{% endblock %}

{% block body %}

    {% if menu %}
        {% set titre = 'Modifier le menu' %}
        {% set action_path = path('admin_menu_edit', {id: menu.id, redirect: app.request.requestUri}) %}
    {% else %}
        {% set titre = 'Ajouter un menu' %}
        {% set action_path = path('admin_menu_edit', {id: 0}) %}
    {% endif %}


    <h1>{{ titre }}</h1>

    <form method="post" id="form_menu" action="{{ action_path }}" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" value="{{ menu.id ?? 0 }}">

        <div class="card mb-3">
            <div class="card-header">
                <h4>Informations générales</h4>
            </div>
            <div class="card-body">
                <div class="row col-12">
                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="libelle" class="form-label">Libellé</label>
                        <input type="text" class="form-control" name="libelle" id="libelle" value="{{ menu.libelle ?? '' }}" required>
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="quantite_min" class="form-label">Nombre min. de personne</label>
                        <input type="number" step="1" min="1" class="form-control" name="quantite_min" id="quantite_min" value="{{ menu.quantite_min ?? 1 }}" required>
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="tarif_unitaire" class="form-label">Tarif par personne</label>
                        <input type="number" step="00.1" min="0" class="form-control" name="tarif_unitaire" id="tarif_unitaire" value="{{ menu.tarif_unitaire ?? '0' }}" required>
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="quantite" class="form-label">Quantité disponible</label>
                        <input type="number" step="1" min="0" class="form-control" name="quantite_disponible" id="quantite_disponible" value="{{ menu.quantite_disponible ?? '0' }}" required>
                    </div>

                    <div class="mb-3 col-12 col-lg-4">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" rows="5" name="description" id="description" required>{{ menu.description ?? '' }}</textarea>
                    </div>

                    <div class="mb-3 col-12 col-lg-4">
                        <label for="menu_theme" class="form-label">Thèmes</label>
                        <select class="form-select" size="5" name="menu_theme[]" id="menu_theme" multiple>
                            {% for theme in tab_themes %}
                                <option value="{{ theme.id }}" {% if theme.id in (menu.themes ?? []) %}selected{% endif %}>
                                    {{ theme.libelle }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 col-12 col-lg-4">
                        <label for="menu_regime" class="form-label">Régime</label>
                        <select class="form-select" size="5" name="menu_regime[]" id="menu_regime" multiple>
                            {% for regime in tab_regimes %}
                                <option value="{{ regime.id }}" {% if regime.id in (menu.regimes ?? []) %}selected{% endif %}>
                                    {{ regime.libelle }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 col-12 col-lg-10">
                        <label for="conditions" class="form-label text-danger">Conditions</label>
                        <textarea class="form-control" rows="5" name="conditions" id="conditions">{{ menu.conditions ?? '' }}</textarea>
                    </div>

                    <div class="mb-3 col-12 col-lg-2">
                        <div>
                            <label for="pret_materiel_1" class="form-label">Prêt materiel</label>
                            <div>
                                <span>Oui :&nbsp;</span>
                                <input type="radio" name="pret_materiel" id="pret_materiel_1" value="1" {% if (menu.pret_materiel == 1) %} {{ 'checked' }} {% endif %}>

                                <span>Non :&nbsp;</span>
                                <input type="radio" name="pret_materiel" id="pret_materiel_0" value="0" {% if (menu.pret_materiel != 1) %} {{ 'checked' }} {% endif %}>
                            </div>
                        </div>
                        <br><br>
                        <div>
                            <label for="actif_1" class="form-label">Actif</label>
                            <div>
                                <span>Oui :&nbsp;</span>
                                <input type="radio" name="actif" id="actif_1" value="1" {% if (menu.actif == 1) %} {{ 'checked' }} {% endif %}>

                                <span>Non :&nbsp;</span>
                                <input type="radio" name="actif" id="actif_0" value="0" {% if (menu.actif != 1) %} {{ 'checked' }} {% endif %}>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between pb-3">
            <a href="{{ path('admin_menu_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left-square"></i>&nbsp;Retour
            </a>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-floppy-fill"></i>&nbsp;Enregistrer
            </button>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h4>Composition&emsp;
                    {% if menu.id > 0 %}
                        <a href="{{ path('admin_plat_index', {menu_id: menu.id, comeFrom: 'menu'}) }}" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i>&nbsp;Ajouter un plat
                        </a>
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    {% if plats|length > 0 %}
                        {% for plat in plats %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="card shadow-sm">
                                    <div class="card-body text-center">
                                        <h4>{{ plat.plat_type_libelle|upper }}</h4>

                                        <div class="image-container mt-2 mb-2">
                                            {% if (plat.image != '') %}
                                                <img src="{{ asset(plat.image) }}" class="img-fluid rounded" alt=" image de {{ plat.libelle ?? '' }}">
                                            {% else %}
                                                <img src="/images/no_image.jpg" class="img-fluid rounded" alt=" image de {{ plat.libelle ?? '' }}">
                                            {% endif %}
                                        </div>

                                        <h5 class="">{{ plat.libelle }}</h5>
                                        <p>{{ plat.description }}</p>
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <input type="checkbox" name="SUPPR_PLAT[{{ plat.id }}]" id="suppr_plat_{{ plat.id }}">
                                    <label for="suppr_plat_{{ plat.id }}">Supprimer</label>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <table class="w-100 text-center">
                            <tbody>
                            <tr>
                                <td class="border p-3">
                                    <span class="alert alert-warning text-center">Aucun résultat</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <!--
        <div class="card mb-3">
            <div class="card-header">
                <h4>Galerie&emsp;</h4>
            </div>
            <div class="card-body">

                <div class="row g-3">
                    {% for image in tab_images %}
                        <div class="preview-item">
                            <img src="{{ asset(image.image) }}" alt="Image de {{ image.plat_libelle ?? '' }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        -->

        <div class="d-flex justify-content-between pb-3">
            <a href="{{ path('admin_menu_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left-square"></i>&nbsp;Retour
            </a>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-floppy-fill"></i>&nbsp;Enregistrer
            </button>
        </div>

    </form>

    <script src="{{ asset('js/image.js') }}"></script>
{% endblock %}

