{% extends 'admin/layout.html.twig' %}

{% block title %}V&G : Liste des menus{% endblock %}

{% block body %}
    <h1 class="mb-4">
        <i class="bi bi-people-fill"></i>&nbsp;Liste des menus : <span class="fs-3">{{ tabMenu|length }} résultat(s)</span>
    </h1>

    <a href="{{ path('admin_menu_edit', {id: 0}) }}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i>&nbsp;Ajouter un menu
    </a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Description</th>
            <th>thèmes</th>
            <th>Regimes</th>
            <th>Min personne</th>
            <th>Tarif unitaire</th>
            <th>Quantité disponible</th>
            <th>Prêt matériel</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if tabMenu|length > 0 %}
            {% for menu in tabMenu %}
                <tr>
                    <td>{{ menu.libelle }}</td>
                    <td>{{ menu.description }}</td>
                    <td>{{ menu.themes }}</td>
                    <td>{{ menu.regimes }}</td>
                    <td>{{ menu.quantite_min }}</td>
                    <td>{{ menu.tarif_unitaire }} €</td>
                    <td>{{ menu.quantite_disponible }}</td>
                    <td>{{ (menu.pret_materiel) ? 'Oui':'Non' }}</td>
                    <td>{{ (menu.actif) ? 'Oui':'Non' }}</td>
                    <td>
                        <a href="{{ path('admin_menu_edit', {id: menu.id}) }}" class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="{{ path('admin_menu_delete', {id: menu.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer le menu ?')">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="11" class="alert alert-warning text-center">Aucun résultat</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
